
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #385A6D;
  color: #45393F;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.8;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #38596d;
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
}

nav ul {
  display: flex;
  align-items: flex-end;
}

nav li {
  margin: 0 .5rem;
}

header {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3em 2em 3em 2em;
}

h1 {
  display: inline-block;
  border-bottom: 4px solid #e8f6ff;
  border-radius: 15%;
  padding-bottom: 0;
}

h2 {
  font-size: 2em;
  padding-bottom: 1.5em;
}
  #welcome h2 {
    font-size: 2em;
    padding-bottom: 1.5em;
    font-family: 'Nothing You Could Do', cursive;
  }

p {
  color: #e8f6ff;
  text-align: left;
  font-size: 1em;
}
  #history p {
    padding-bottom: 1em;
  }
  #welcome p {
    padding-top: 1em;
    padding-bottom: 3em;
  }

th {
  padding: .8em;
}

li {
  list-style-type: none;
  font-size: 1em;
}
  #interests li {
    line-height: 1.8;
    font-weight: bold;
    padding: 1em;
  }
  #history li {
    padding-bottom: 2em;
  }

span {
  color: #63F567;
  font-size: 1.5em;
}

#welcome {
  padding-left: 0;
  padding-right: 0;
  padding-top: 100px;
}
  #welcome h2 {
  }
  #welcome p {
    padding: 3em 2em 3em 2em;
  }

.main-section {

}
  #talking-points, #skills {
    background-color: #45393F;
    color: #60AE90;
  }
  #history {
    background-color: #45393F;
    color: #60AE90;
  }
    #history p, #history h2, #history h3 {
      padding-top: 3em;
    }
  #interests, #projects, #welcome, header {
    color: #e8f6ff;
  }

#skills table {
  color: #e8f6ff;
  text-align: left;
}

#skills i {
  color: #60AE90;
}

#history h3 {
  margin-bottom: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #45393F;
}

footer a {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.5em;
}

/* images */
#helm {
  position: absolute;
  top: 366px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 375px;
  width: auto;
  z-index: -1;
}

#portrait {
  border: 3px solid #433A3F;
  border-radius: 100%;
}

#history img {
  height: auto;
  width: 80%;
  max-width: 500px;
  border: 2px solid #60AE90;
  border-radius: 10px;
}

.img-container {
  margin-bottom: 50px;
}

#early-life img {
  height: 200px;
  width: auto;
}

#projects img {
  display: block;
  width: 100%;
  height: auto;
  border: 2px solid #433A3F;
  border-radius: 10px;
  margin-bottom: 2em;
}

#fishing img {
}

a {
  color: #BCF936;
  text-decoration: none;
}

a:hover {
  color: #63F567;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 900px) {
  header {
    text-align: left;
  }
  h1 {
  }
  p {
    font-size: 1.2em;
  }
  #welcome p {
    padding: 3em 18em 3em 18em;
  }
  h1, h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.8em;
  }
  section {
    padding: 3em 18em 3em 18em;
  }
  th{
    font-size: 1.2em;
  }
  #projects img {
    display: inline;
    width: 25%;
    height: auto;
    border: 2px solid #433A3F;
  }
    #projects img:hover {
      width: 50%;
      height: auto;
    }
    #history img {
      width: 25%;
      height: auto;
    }
    #early-life img {
      height: 200px;
      width: auto;
    }
}
